:root {
    --text-color: #333;
    --background-color: #f4f4f4;
    --landing-background-color: #282828;
    --landing-text-color: #FFFFFF;
    --button-background-color: #555;
    --button-hover-background-color: #777;
    --header-background-color: #333;
    --header-text-color: #fff;
    --skill-background-color: #f4f4f4;
    --footer-background-color: #333;
    --footer-text-color: #fff;
    --form-background-color: #333;
    --form-hover-background-color: #555;
    --project-border-color: #ddd;
    --popup-background-overlay: rgba(0, 0, 0, 0.4);
    --popup-content-background-color: #fff;
    --popup-shadow-color: rgba(0, 0, 0, 0.3);
    --close-button-color: #aaa;
    --close-button-hover-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #1a1a1d, #121212);
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    color: white;
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

p, a {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.75);
}

#landing-page {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #1a1a1d, #121212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: opacity 1s ease, background-color 1s ease;
}

#landing-page h1 {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#landing-page button {
    background-color: #6c63ff;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#landing-page button:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.intro-text h1 {
    font-size: 3em;
}

.intro-text p {
    font-size: 1.5em;
}

.intro-text .wave-btn {
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 0.75rem 1.8rem;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

.intro-text .wave {
    background-color: var(--button-background-color);
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: inset 5px -5px 22px var(--button-hover-background-color), inset 5px -5px 22px var(--button-background-color);
}

.wave::before,
.wave::after {
    content: "";
    position: absolute;
    top: -12.75rem;
    left: -2.575rem;
    border-radius: 40%;
    animation: animate 5s linear infinite;
    transition: 0.5s ease-in-out;
}

.wave::after {
    width: 250%;
    height: 10rem;
    background: #f4f4f4;
    animation-delay: 0.7s;
}

.wave::before {
    width: 19rem;
    height: 12rem;
    background: #777;
    animation-delay: 0.5s;
}

.intro-text .wave-btn:hover .wave::after, 
.intro-text .wave-btn:hover .wave::before {
    height: 200%;
    width: 200%;
}

.wave-text {
    position: relative;
    font-size: 1.375rem;
    letter-spacing: 0.125rem;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    margin-top: 50px;
}

.project {
    background-color: #2a2a2e;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.project h3 {
    font-size: 1.8rem;
    color: #6c63ff;
}

.project p {
    font-size: 1rem;
    color: #bfbfbf;
    margin-top: 10px;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    margin-top: 50px;
}

.skill {
    background-color: #2a2a2e;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default; 
}

.skill:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.skill h3 {
    color: #6c63ff;
}

.skill p {
    font-size: 1rem;
    color: #bfbfbf;
    margin-top: 10px;
}


.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--popup-background-overlay);
}

.popup-content {
    background-color: var(--popup-content-background-color);
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--popup-shadow-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: var(--close-button-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--close-button-hover-color);
    text-decoration: none;
    cursor: pointer;
}


.no-scroll {
    overflow: hidden;
}



@media (max-width: 600px) {
    .project {
        padding: 15px;
    }

    .project h3 {
        font-size: 1.5rem;
    }

    .project p {
        font-size: 0.9rem;
    }

    .popup-content {
        width: 90%;
    }
}


nav {
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 999; 
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px 20px;
    border-radius: 30px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #6c63ff; /* Hover effect */
}

@media (max-width: 768px) {
    nav {
        right: 10px;
        top: 10px;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* test */
.container {
    width: 100%;
    width: 820px;
    height: 340px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
}

.card {
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-item: flex-end;
    flex-grow: 1;
    position: relative;
    transition:
        flex-grow 0.5s ease;
}

.card:hover {
    flex-grow: 7;
}

.card:hover .title {
    opacity: 1;
    translate: 0 0;
}

.card-content > .title {
    margin-left: 10px;
    translate: 0 100%;
    opacity: 0;
}

/* test */